<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.amp"/>

    <mvc:annotation-driven/>
   <!-- Coding through interfaces -->
     
   
   <!-- <bean id ="triangle" class="org.arindam._03.Triangle">
   <property name="pointA" ref="PointA"/>
   <property name="pointB" ref="PointB"/>
   <property name="pointC" ref="PointC"/>
   </bean> -->
  
  <bean id ="circle" class="org.arindam._03.Circle">
   
   
   </bean>
  
   
   <bean id ="PointA" class="org.arindam._03.Point">
   <property name="x" value="0"/>
   <property name="y" value="0"/>  
   </bean>
   
   <bean id ="PointB" class="org.arindam._03.Point">
   <property name="x" value="-20"/>
   <property name="y" value="0"/>  
   </bean>
   
   <bean id ="center" class="org.arindam._03.Point">
   <property name="x" value="20"/>
   <property name="y" value="0"/>  
   </bean>
   
 
 </beans>
